// grid stuff
table tr td{
    border: 1px solid #36c9c2;
    background:url(triangletwo-up.svg);
    background-color:  #c1ddfc;
    // background: linear-gradient(45deg, #bddeff, #e6dfff);
}
#table_grid {
    margin-left: auto;
    margin-right: auto;
    
}
#table_grid td {
    width: 24px;
    height: 24px;
}

#start_node {
    // background-color: #5db1ad;
    width: 24px;
    height: 24px;
}
