// grid stuff
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table_grid {
    padding: 25px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 20px;
    // margin-bottom: 25px;
    // margin: 25px 20px 30px 20px;
}

#table_grid td {
    width: 24px;
    height: 24px;
}

table tr td{
    border: 1px solid #36c9c2;
    background-color:  #c1ddfc;
    // background: linear-gradient(45deg, #bddeff, #e6dfff);
}

// #start_node {
//     // background-color: #5db1ad;
//     width: 24px;
//     height: 24px;
// }

.start {
    background-color: #c1ddfc;
    background-image:url("chevrons_right.svg");
}

.target {
    background-color: #c1ddfc;
    background-image:url("3d_cube.svg");
}

.wall {
    background-color: darkslategray
}
.empty {
    background-color: #c1ddfc;
}

.searchedNode {
    background-color: #36c9c2;
    transition: background-color .5s ease-in;
    transition-delay: .5s;
}

.pathNode {
    background-color: #f34af3;
    transition: background-color .5s ease-in;
    transition-delay: .5s;
    transition: transform .7s;
    transform: rotate(360deg);
}

#contact-container {
font-family: 'Major Mono Display', monospace;
  font-style: normal;
  font-weight: normal;
    color: #36c9c2;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 30px 15px 30px;
    font-family: 'Major Mono Display', monospace;
    font-style: normal;
    font-weight: normal;
    img {
        color: #36c9c2;
        width: 40px;
        padding: 0 15px 0 15px;
    }
}