body {
  font-family: 'Major Mono Display', monospace;
  font-style: normal;
  font-weight: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {

  background: linear-gradient(45deg, #000f1f, #1b133b);
  justify-content: space-evenly;
}

.navBar_ul {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.navBar_li {
  position: relative;
  color: transparent;
}
.navBar_li::before { 
  /* cross out line */
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 4px;
  border-radius: 4px;
  margin-top: -2px;
  background: #36c9c2;
  transform: scale(0);
  transition: transform 0.5s;
  z-index: 1;
}

.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #36c9c2;
  top: 0;
  height: 49%;
  transition: all 0.5s;
}
.Mask span {
  display: block;
}

.Mask + .Mask {
  top: 48.9%;
  height: 51.1%;
}
.Mask + .Mask span {
  transform: translateY(-49%);
}

.navBar_li:hover .Mask,
.navBar_li:active .Mask {
  color: #f34af3;
  transform: skewX(9deg) translateX(5px);
}
.navBar_li:hover .Mask + .Mask,
.navBar_li:active .Mask + .Mask {
  transform: skewX(9deg) translateX(-5px);
}
.navBar_li:hover::before,
.navBar_li:active::before {
  transform: scale(.9);
}


.dropDown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropDownContent a {
  color: #36c9c2;
  font-family: 'Montserrat', sans-serif;
  font-size: 60%;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropDownContent a:hover {color: #f34af3;;}

.dropDown:hover .dropDownContent {display: block;}